<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922040089807-u8m6s1fu6su0p0tg0hcadjar90rdoar3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922040089807-u8m6s1fu6su0p0tg0hcadjar90rdoar3</string>
	<key>API_KEY</key>
	<string>AIzaSyALODfSdlTkBnhRxPC1nV-Vq3Ji2qkO1RE</string>
	<key>GCM_SENDER_ID</key>
	<string>922040089807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xerox</string>
	<key>PROJECT_ID</key>
	<string>xerox-800f7</string>
	<key>STORAGE_BUCKET</key>
	<string>xerox-800f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922040089807:ios:a526b2adbacd490dbdcbba</string>
	<key>DATABASE_URL</key>
	<string>https://xerox-800f7-default-rtdb.firebaseio.com</string>
</dict>
</plist>